canvas {
    border: 3px solid hsl(270, 100%, 30%);
}

body {
    margin: 0;
    background-color: hsl(341, 100%, 90%);
}

#siminfo {
    position: absolute;
    left: 70%;
    top: 30%; 
}

#livingcells {
    color: green;
}

#simcontrol {
    position: absolute;
    left: 70%;
    top: 50%;    
}