canvas {
    border: 3px solid hsl(270, 100%, 30%);
}

body {
    margin: 0;
    background-color: hsl(341, 100%, 90%);
}

#ui {
    position: absolute;
    top: 10%;
    left: 60%;;
}

#simcontrol {
    margin-top: 5%;
}

#livingcells {
    color: green;
}